<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head.ejs'); %>
</head>
<body>
  <header>
    おすすめの店舗
    <a href="./login.html">ログイン</a>
  </header>
  <div class="main">
    <div id="ranking">
      <div class="content">
      </div>
    </div>
  </div>
  <%- include('component/_footer.ejs'); %>
  <script>
      window.onload = function() {
        $.ajax('http://kensyu.jeez.jp/api/category',
          {
            type: 'get'
          }
        )
        // 検索成功時にはページに結果を反映
        .done(function(data) {
          console.log(data);
          var categories = data['result']['categories'];
          for(var i = 0;i < categories.length; i++){
            $(".content").append("<li>"+categories[i]["name"]+"</li>")
          }
        })
        // 検索失敗時には、その旨をダイアログ表示
        .fail(function(data) {
          console.error(data)
        });
      };
  </script>
</body>
</html>
