<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head'); %>
</head>
<body class="vo-splash">
  <div class="contents">
    <div class="logo">
      <img src="./assets/img/vote-logo-name.png">
      <p>みんなの投票で決める街のグルメアプリ</p>
    </div>
    <div class="vo-form">
      <div class="vo-form__wrapper">
        <div class="vo-form__item">
          <input class="vo-form__mail" type="text" placeholder="メールアドレス / ID">
        </div>
        <div class="vo-form__item">
          <input class="vo-form__password" type="password" placeholder="パスワード">
        </div>
        <div class="vo-form__help">
          <a href="">パスワードを忘れた方はこちら</a>
        </div>
      </div>
      <div class="vo-button__wrapper">
        <button class="vo-button vo-button--primary vo-button--large"><a href="./mypage.html">ログイン</a></button>
        <button class="vo-button vo-button--secondary vo-button--large vu-mt16"><a href="./mypage.html">新規登録</a></button>
      </div>
    </div>
  </div>
  <script>
    $(function() {
      // ［検索］ボタンクリックで検索開始
      $('#submit').click(function() {
        var email = $('#email').val();
        var password = $('#pass').val();
        $.ajax('http://kensyu.jeez.jp/api/login',
          {
            type: 'post',
            data: { "email" : email,"password":password },
            dataType : "json"
          }
        )
        // 検索成功時にはページに結果を反映
        .done(function(data) {
          // 結果リストをクリア
          alert("ログイン成功");
        })
        // 検索失敗時には、その旨をダイアログ表示
        .fail(function() {
          window.alert('メールアドレス or パスワードが間違っています。');
        });
      });
    });
  </script>
</body>
</html>
