<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head'); %>

</head>
<body>
  <div class="vo-app-header vu-mb24">
    <a href="mypage.html" class="vo-app-header--previous"><i class="fas fa-chevron-left"></i> カテゴリ一覧へ</a>
    <h1 class="vo-title vo-title--h4"></h1>
  </div>
  <div class="vo-contents">
    <h2 class="vo-title vo-title--h5 vu-mb16"><i class="vo-icon vo-icon--yellow vu-mr08 fas fa-star"></i>voteする</h2>
    <div class="vo-card--wrapper">
<!--       <div class="vo-card vo-card--wide">
        <a href="./mypage-modal.html">
          <div class="vo-card__rank vo-card__rank--1st">
            1st
          </div>
          <div class="vo-card__image">
            <img src="./assets/img/pizza.png">
          </div>
          <div class="vo-card__title">
            <p>日本料理亭 すまし</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
          </div>
        </a>
      </div>
      <div class="vo-card vo-card--wide">
        <a href="#">
          <div class="vo-card__rank vo-card__rank--2nd">
            2nd
          </div>
          <div class="vo-card__image">
            <img src="./assets/img/pizza.png">
          </div>
          <div class="vo-card__title">
            <p>すしざんまい 東京銀座店</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>東京都中央区銀座６丁目４−６ 646ビル 1F</p>
          </div>
        </a>
      </div>
      <div class="vo-card vo-card--wide vo-card--empty">
        <a href="./mypage-modal.html">
          <div class="vo-card__rank vo-card__rank--3rd">
            3rd
          </div>
          <div class="vo-card__image">
            
          </div>
          <div class="vo-card__title">
            <p>未設定</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>-</p>
          </div>
        </a>
      </div> -->
    </div>
    <div id="modal" style="display:none;">
      <p>これはサンプルです。</p>
    </div>
  </div>
  <%- include('component/_footer'); %>
  <script>
    const number = ["1st","2nd","3rd"];
      window.onload = function() {
        $.ajax('http://kensyu.jeez.jp/api/mypage',
          {
            headers: {
              "token" : getToken()
            },
            type: 'get'
          }
        )
        // 検索成功時にはページに結果を反映
        .done(function(data) {
          // ヘッダーに名前反映(別にパラメータ渡しでも良い気がするが直アクセス対策)
          $.ajax('http://kensyu.jeez.jp/api/category',
            {
              type: 'get'
            }
          )
          .done(function(data) {
            var categories = data['result']['categories'];
            for(var i = 0; i < categories.length; i++){
              if(categories[i]['id'] == getParam('category')){
                $('h1').text(categories[i]['name'] + "のおすすめ");
              }
            }
          })       
          // 認証失敗はloginページに
          .fail(function(data, status, xhr) {
            if (data.status === 401) {
              alert("ログイン認証に失敗しました");
              location.href="./login.html";
            }else{
              alert("予期せぬエラーが発生しました");
            }
          });

          var all_rankings = data['result']['rankings'];
          var rankings = [];
          for(var i = 0; i < all_rankings.length;i++){
            if(all_rankings[i]['category_id'] ==  getParam('category')){
              rankings.push(all_rankings[i])
            }
          }
          for(var i = 0; i < 3; i++){
            if(rankings[i] != null && rankings[i]['no'] == i + 1){
              $('.vo-card--wrapper').append(''+
                '<div class="vo-card vo-card--wide">'+
                  '<a href="./mypage-modal.html?category='+getParam('category')+'&no='+(i + 1)+'&type=edit">'+
                    '<div class="vo-card__rank vo-card__rank--'+number[i]+'">'+
                      number[i]+
                    '</div>'+
                    '<div class="vo-card__image">'+
                      '<img src="./assets/img/pizza.png">'+
                    '</div>'+
                    '<div class="vo-card__title">'+
                      '<p>'+rankings[i]['place_name']+'</p>'+
                    '</div>'+
                    '<div class="vo-card__place">'+
                      '<p><i class="vu-mr08 fas fa-map-marker-alt"></i>'+rankings[i]['address']+'</p>'+
                    '</div>'+
                  '</a>'+
                '</div>'
              );
            }else{
              $('.vo-card--wrapper').append(''+
                '<div class="vo-card vo-card--wide vo-card--empty">'+
                  '<a href="./mypage-modal.html?category='+getParam('category')+'&no='+(i + 1)+'&type=create">'+
                    '<div class="vo-card__rank vo-card__rank--'+number[i]+'">'+
                      number[i]+
                    '</div>'+
                    '<div class="vo-card__image">'+
                      ''+
                    '</div>'+
                    '<div class="vo-card__title">'+
                      '<p>未設定</p>'+
                    '</div>'+
                    '<div class="vo-card__place">'+
                      '<p><i class="vu-mr08 fas fa-map-marker-alt"></i>-</p>'+
                    '</div>'+
                  '</a>'+
                '</div>'
              );
            }
          }
        })
        // 検索失敗時には、握りつぶし
        .fail(function(data) {
        });
      };
  </script>
</body>
</html>
