<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head'); %>

</head>
<body>
  <div class="vo-app-header vu-mb24">
    <a href="mypage.html" class="vo-app-header--previous"><i class="fas fa-chevron-left"></i> カテゴリ一覧へ</a>
    <h1 class="vo-title vo-title--h4">寿司のおすすめ</h1>
  </div>
  <div class="vo-contents">
    <h2 class="vo-title vo-title--h5 vu-mb16"><i class="vo-icon vo-icon--yellow vu-mr08 fas fa-star"></i>voteする</h2>
    <div class="vo-card--wrapper">
      <div class="vo-card vo-card--wide">
        <a href="#">
          <div class="vo-card__rank vo-card__rank--1st">
            1st
          </div>
          <div class="vo-card__image">
            <img src="./assets/img/pizza.png">
          </div>
          <div class="vo-card__title">
            <p>日本料理亭 すまし</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
          </div>
        </a>
        <div class="vo-modal--show">
          <div class="vo-modal">
            <div class="vo-modal__head">
              <h3 class="vo-title--h4">
                寿司 おすすめ登録
              </h3>
            </div>
            <div class="vo-modal__contents">
              <div class="vo-form">
                <div class="vo-form__wrapper vu-mb08">
                  <div class="vo-form__item">
                    <input class="vo-form__place" type="text" placeholder="場所" value="中野">
                  </div>
                  <div class="vo-form__item">
                    <input class="vo-form__restaurant" type="text" placeholder="キーワード" value="江戸前">
                  </div>
                </div>
                <div class="vo-button__wrapper vu-mb24">
                  <button class="vo-button vo-button--primary vo-button--large"><a href="./mypage.html">検索</a></button>
                </div>
              </div>
              <div class="vo-result__wrapper">
                <h5 class="vo-result--title vu-ml08">検索結果 <span>7</span>件</h5>
                <div class="vo-result">
                  <ul class="vo-result--list">
                    <li class="vo-result--list__info is-selected">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                    <li class="vo-result--list__info">
                      <p class="vo-result--list__info-name">江戸前すし吉</p>
                      <p class="vo-result--list__info-map"><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="vo-button__wrapper vu-mt24">
                <button class="vo-button vo-button--primary vo-button--large"><a href="#">決定</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vo-card vo-card--wide">
        <a href="">
          <div class="vo-card__rank vo-card__rank--2nd">
            2nd
          </div>
          <div class="vo-card__image">
            <img src="./assets/img/pizza.png">
          </div>
          <div class="vo-card__title">
            <p>すしざんまい 東京銀座店</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>東京都中央区銀座６丁目４−６ 646ビル 1F</p>
          </div>
        </a>
      </div>
      <div class="vo-card vo-card--wide vo-card--empty">
        <a href="">
          <div class="vo-card__rank vo-card__rank--3rd">
            3rd
          </div>
          <div class="vo-card__image">
            
          </div>
          <div class="vo-card__title">
            <p>未設定</p>
          </div>
          <div class="vo-card__place">
            <p><i class="vu-mr08 fas fa-map-marker-alt"></i>-</p>
          </div>
        </a>
      </div>
    </div>
    <div id="modal" style="display:none;">
      <p>これはサンプルです。</p>
    </div>
  </div>
  <%- include('component/_footer'); %>
  <script>
      window.onload = function() {
        $.ajax('http://kensyu.jeez.jp/api/mypage',
          {
            headers: {
              "token" : "d36072a930278c2"
            },
            type: 'get'
          }
        )
        // 検索成功時にはページに結果を反映
        .done(function(data) {
          console.log(data);
        })
        // 検索失敗時には、その旨をダイアログ表示
        .fail(function(data) {
          console.error(data)
        });
      };
  </script>
</body>
</html>
