<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head'); %>
</head>
<body class="vo-splash">
  <div class="contents">
    <div class="logo">
      <img src="./assets/img/vote-logo-name.png">
      <p>みんなの投票で決める街のグルメアプリ</p>
    </div>
    <div class="vo-form">
      <div class="vo-form__wrapper">
        <div class="vo-form__item">
          <input class="vo-form__password" type="password" id="pass" placeholder="パスワード">
        </div>
      </div>
      <button class="vo-button vo-button--primary vo-button--large"><a href="#" id="submit">再設定</a></button>
    </div>
  </div>
  <script>
    $(function() {
      const token = getParam('password_token');
      console.log(token);
      // ［登録］ボタンクリックで検索開始
      $('#submit').click(function() {
        const gender = $('input:radio[name="gender"]:checked').val();
        var password = $('#pass').val();
        $.ajax('https://kensyu.jeez.jp/api/password_reset',
          {
            type: 'post',
            data: { "token":token,"password":password },
            dataType : "json"
          }
        )
        .done(function(data,status, xhr) {
          window.alert('パスワードの再設定に成功しました。ログイン画面からログインしてください。');
          location.href = "./login.html";
        })
        .fail(function() {
          window.alert('登録に失敗しました。');
        });
      });
    });
  </script>
</body>
</html>
