<!DOCTYPE html>
<html>
<head>
  <%- include('config/_head'); %>

</head>
<body>
  <div class="vu-sticky vu-zindex-5">
    <div class="vo-app-header">
      <h1 class="vo-title vo-title--h4">みんなのvote</h1>
    </div>
    <div class="vo-selectbox__wrapper">
      <div class="vo-selectbox--title">
        エリア
      </div>
      <select class="vo-selectbox" name="area">
        <option value="全国">全国</option>
        <option value="北海道">北海道</option>
        <option value="東北">東北</option>
        <option value="関東">関東</option>
        <option value="東京23区内">東京23区内</option>
        <option value="東京23区外">東京23区外</option>
        <option value="中部">中部</option>
        <option value="近畿">近畿</option>
        <option value="中国・四国">中国・四国</option>
        <option value="九州">九州</option>
        <option value="沖縄">沖縄</option>
      </select>
    </div>
    <div class="tab-wrap">
    </div>
  </div>
  <div class="tab-contents">
    <div class="vo-card--wrapper">
      <!-- <div class="vo-card vo-card--wide">
        <a href="https://tabelog.com/tokyo/A1308/A130802/13015251/">
          <div class="vo-card__rank vo-card__rank--1st">
            1st
          </div>
          <div class="vo-card__title">
            <p>日本料理亭 すまし</p>
          </div>
          <div class="vo-card__place">
            <p><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>
          </div>
        </a>
      </div>
      <div class="vo-card vo-card--wide">
        <a href="https://tabelog.com/tokyo/A1308/A130802/13015251/">
          <div class="vo-card__rank vo-card__rank--2nd">
            2nd
          </div>
          <div class="vo-card__title">
            <p>すしざんまい 東京銀座店</p>
          </div>
          <div class="vo-card__place">
            <p><i class="fas fa-map-marker-alt"></i>東京都中央区銀座６丁目４−６ 646ビル 1F</p>
          </div>
        </a>
      </div>
      <div class="vo-card vo-card--wide">
        <a href="https://tabelog.com/tokyo/A1308/A130802/13015251/">
          <div class="vo-card__rank vo-card__rank--3rd">
            3rd
          </div>
          <div class="vo-card__title">
            <p>すし三郎</p>
          </div>
          <div class="vo-card__place">
            <p><i class="fas fa-map-marker-alt"></i>東京都渋谷区３丁目４-６</p>
          </div>
        </a>
      </div> -->
    </div>
  </div>
  <%- include('component/_footer'); %>
  <script>
    const number = ["1st","2nd","3rd"];
      window.onload = function() {
        $.ajax('https://kensyu.jeez.jp/api/category',
            {
              type: 'get'
            }
          )
          .done(function(data) {
            var categories = data['result']['categories'];
            for(var i = 0; i < categories.length; i++){
              var id = ("00" + (i + 1) ).slice( -2 );
              var checked = i == 0 ? true : false;
              $('.tab-wrap').append(''+
                '<input id="TAB02-'+id+'" data-id="'+categories[i]['id']+'" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-'+id+'">'+categories[i]['name']+'</label>'
              );
            }
            $('.tab-switch').click(function(){
              loadRanking($(this).data('id'));
            });
            $('.tab-switch').eq(0).prop("checked",true);
            loadRanking(categories[0]['id']);
          });
      };

      function loadRanking(category_id){
        $.ajax('https://kensyu.jeez.jp/api/ranking?category_id='+category_id,
            {
              type: 'get'
            }
          )
          .done(function(data) {
            $('.vo-card--wrapper').empty();
            var rankings = data['result']['rankings'];
            for(var i = 0;i < rankings.length;i++){
              $('.vo-card--wrapper').append(''+
                '<div class="vo-card vo-card--wide">'+
                  '<a href="https://www.google.com/maps/place/?q=place_id:'+rankings[i]['place_id']+'">'+
                    '<div class="vo-card__rank vo-card__rank--'+number[i]+'">'+
                    number[i]+
                    '</div>'+
                    '<div class="vo-card__title">'+
                      '<p>'+rankings[i]['name']+'</p>'+
                    '</div>'+
                    '<div class="vo-card__place">'+
                      '<p><i class="fas fa-map-marker-alt"></i>東京都中野区弥生町１丁目９</p>'+
                    '</div>'+
                  '</a>'+
                '</div>'
                );
            }
          });
      }
  </script>
</body>
</html>
