// setting.scss
// プロジェクトの各種変数を保存するファイル

// カラー
$main-c: #FF9A75;
$sub-c: #FFC380;

$extend-c-01: #FFE7A6;
$extend-c-02: #7E5987;
$extend-c-03: #2B3568;

$white-c: #FFF;

$bg-c-01: #EFEFEF; 

$text-c-01: #201e3e;
$text-c-02: #444;
$text-c-03: #777;
$text-c-04: #999;
$text-c-05: #bbb;

$link-c: #333;

// マージン
$margin: 8px;
$padding: 8px;

// 影
$shadow-01: 0 8px 8px 0 rgba(0, 0, 0, .1);