@charset "UTF-8";
body {
  font-family: 'Hiragino Sans', 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "palt";
  letter-spacing: .4px;
  transition: .3s; }

.contents {
  padding: 0 8px; }

.logo {
  margin: 104px 0 64px;
  text-align: center; }
  .logo img {
    margin-bottom: 24px;
    width: 280px;
    height: auto; }
  .logo p {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #99796c; }

/**共通部分**/
.top_image {
  width: 100%;
  text-align: center;
  background: lightgrey; }

.top_image img {
  width: 50%; }

.top_images a {
  text-decoration: none; }

.top_images img {
  opacity: 0;
  width: 30%;
  height: 100px; }

.modal {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.modal .recommend {
  margin: 30px; }

.modal .close {
  float: right; }

.modal .close img {
  width: 50px; }

.gacha_page {
  width: 100%;
  text-align: center; }

.gacha_page img {
  width: 100%; }

.gacha_page .gacha_btn {
  width: 80%;
  padding: 20px;
  background-color: red;
  color: white;
  font-size: 30px; }

header {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro; }

header a {
  position: absolute;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 5px;
  text-decoration: none;
  color: #1ea1f2; }

header img {
  width: 40%; }

footer {
  width: 100%;
  background-color: #f0aa3d;
  position: fixed;
  bottom: 0; }

footer .footer_menus {
  letter-spacing: -1em; }

footer .footer_menu {
  text-align: center;
  font-size: 10px;
  width: 33%;
  display: inline-block;
  letter-spacing: 0em;
  color: white;
  padding-top: 4px; }

footer .footer_menu img {
  width: 40%; }

footer .select {
  background-color: #e74707; }

body {
  /* ログイン */
  /* 芸人詳細 */
  /* 動画詳細 */
  /* 三角を入れる */ }

body .btn {
  width: 80%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin: 0 auto; }

body .favorite {
  background-color: #ffcb2b; }

body .register {
  background-color: #083; }

body .watch {
  background-color: crimson; }

body .logout {
  background-color: lightsalmon;
  margin: 10px; }

body .recommend {
  text-align: center;
  margin: 15px;
  background-color: white;
  padding: 6px; }

body .recommend .title {
  font-weight: bold; }

body .recommend .explanation {
  font-weight: lighter;
  font-size: 14px; }

body .youtube_frame {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 10px; }

body .youtube_frame iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }

body .login {
  padding-top: 30px;
  height: 100%;
  background-color: white;
  width: 100%;
  text-align: center; }

body .login .form {
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  text-align: left; }

body .login .form .form_input {
  color: #636363;
  margin-top: 20px; }

body .login .form .form_input input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: #e8f0fe; }

body .login .form .link {
  margin-top: 30px;
  text-align: center; }

body .login .form .form_submit {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: red;
  margin-top: 40px; }

body .login .form .form_submit input {
  height: 100%;
  margin: 0px auto;
  vertical-align: middle;
  color: white;
  font-size: 18px;
  background-color: red;
  border: 0px; }

body .login .form .twitter {
  background-color: #00a4d3; }

body .login .form .signup {
  background-color: black; }

body .login .form .signup input {
  background-color: black;
  border: 0px; }

body .comedian_profile {
  background-color: white; }

body .comedian_profile .background {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center center; }

body .comedian_profile .profile_block {
  position: absolute;
  top: 100px; }

body .comedian_profile .profile_block img {
  background-color: white;
  margin: 0px 0px 0px 20px;
  border-radius: 50%;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  object-fit: cover; }

body .comedian_profile .profile_text {
  margin: 0px 5px 0px 5px;
  text-align: right; }

body .comedian_profile .profile_text input {
  margin: 20px 20px 0px 20px;
  width: 40%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid white;
  text-align: center;
  background-color: #fc6245; }

body .comedian_profile .profile_text .follow .empty {
  background-color: white;
  border: 2px solid #fc6245; }

body .comedian_profile .profile_text .margin_text {
  margin-top: 10px;
  text-align: left; }

body .comedian_profile .profile_text i {
  margin-left: 10px; }

body .movie_detail {
  background-color: white; }

body .movie_detail img {
  width: 100%; }

body .movie_detail .submit {
  width: 100%;
  text-align: center; }

body .movie_detail .comment img {
  width: 50px;
  display: inline-block; }

body .movie_detail .comment .balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff; }

body .movie_detail .comment .balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff; }

body .movie_detail .comment .balloon1-left p {
  margin: 0;
  padding: 0; }

body .notification {
  width: 100%;
  background-color: white;
  text-align: center; }

body .notification .message {
  text-align: left;
  padding: 30px;
  border-top: 1px solid gainsboro; }

body .ranking {
  background-color: white;
  margin: 10px auto; }

body .ranking .number img {
  width: 30px; }

body .ranking .comedian {
  text-align: center; }

body .ranking .comedian img {
  width: 100%; }

body .scroll {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden; }

body .scroll img {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

body .scroll img {
  animation: loop 50s -25s linear infinite; }

body .selectbox {
  border: 2px solid #bdbdbd;
  position: relative;
  width: 30%;
  background-color: white;
  margin: 10px; }

body .selectbox::after {
  position: absolute;
  top: 35%;
  right: 3%;
  margin-top: -8px;
  content: "▼";
  color: #333;
  pointer-events: none;
  /* マウスイベントを無効にする */ }

body .type {
  width: 100%;
  margin: 10px auto;
  text-align: center; }

body .type span {
  color: gainsboro; }

body .type .now {
  color: black; }

body select {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: white;
  /* デフォルトスタイルをリセットする */ }

body .card {
  background-color: white;
  margin: 16px 0px; }

body .card .right_text {
  display: inline-block; }

body .card .card_name {
  vertical-align: top;
  font-weight: bold; }

body .card .profile_img {
  width: 38px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-top: 10px;
  display: inline-block; }

body .card .thumbnail {
  width: 100%; }

body .card .card_footer {
  text-align: right;
  font-size: 10px; }

body .card .icon img {
  width: 10px;
  padding-right: 3px;
  padding-left: 10px; }

body .profile {
  text-align: center;
  margin: 40px auto; }

body .profile .prof_img {
  border-radius: 50%; }

body .profile .status {
  margin-top: 20px;
  font-size: 12px; }

body .profile .status span {
  margin: 0px 10px; }

body .profile #tab {
  letter-spacing: -1em; }

body .profile #tab .min_title {
  letter-spacing: 0em;
  background-color: gainsboro;
  border: 1px solid gray;
  width: 49%;
  display: inline-block; }

body .profile #tab .min_title img {
  margin-top: 10px;
  width: 25px; }

body .profile #tab .select {
  background-color: white; }

body .profile .tab_item {
  display: none; }

body .profile .card {
  text-align: left; }

.gacha {
  position: fixed;
  bottom: 60px;
  right: 0px;
  border-radius: 50%;
  background-color: navajowhite;
  padding: 3px;
  margin: 10px; }

.gacha img {
  object-fit: cover;
  width: 64px;
  height: 64px; }

.blue {
  color: #1ea1f2; }

.red {
  color: #f00; }

.no_decoration {
  text-decoration: none;
  color: black; }

.white {
  color: white; }

.gray {
  color: gainsboro; }

.flash_message {
  color: red; }

@keyframes loop {
  0% {
    transform: translateX(200%); }
  to {
    transform: translateX(-200%); } }

@keyframes loop2 {
  0% {
    transform: translateX(0); }
  to {
    transform: translateX(-200%); } }

/**PC版の簡易設定**/
@media (min-width: 769px) {
  body {
    margin: 0 auto;
    width: 768px; }
  footer {
    width: 768px; }
  .top_images img {
    height: 150px; }
  .gacha {
    display: none; } }

body {
  background-color: rgba(153, 121, 108, 0.1); }

.vo-splash {
  background-color: #fafafa; }

.vo-contents {
  margin: 0 16px; }

.vo-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px; }
  .vo-button a {
    display: block;
    padding: 12px 40px; }
  .vo-button--primary {
    background-color: #99796c; }
  .vo-button--secondary {
    background-color: #FFF;
    border: 1px solid #99796c;
    color: #99796c; }

.vo-card--wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .vo-card--wrapper::after {
    display: block;
    content: "";
    width: 28vw; }

.vo-card {
  position: relative;
  margin-bottom: 16px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  width: 30%;
  height: 142px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  position: relative; }
  .vo-card__rank {
    z-index: 3;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    height: 24px;
    padding: 4px 24px 4px 8px;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    box-sizing: border-box; }
    .vo-card__rank::after {
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      z-index: 1; }
    .vo-card__rank::after {
      top: 0;
      right: 0;
      border-width: 12px 6px 12px 0px;
      border-color: transparent #fff transparent transparent;
      border-style: solid; }
    .vo-card__rank--1st {
      background: #DBB400; }
    .vo-card__rank--2nd {
      background: #bbb3b3; }
    .vo-card__rank--3rd {
      background: #C08D5E; }
  .vo-card:last-child {
    margin-bottom: 80px; }
  .vo-card__title {
    line-height: 1.2;
    color: #3B4D5A;
    font-size: 12px;
    font-weight: bold; }
  .vo-card__image {
    margin-top: 16px;
    margin-bottom: 10px; }
    .vo-card__image img {
      width: 80px; }

.vo-card--wide {
  width: 100%;
  height: 120px;
  padding: 24px 16px 16px 136px;
  text-align: left; }
  .vo-card--wide .vo-card__title {
    font-size: 14px; }
  .vo-card--wide .vo-card__image {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: #fafafa; }
  .vo-card--wide .vo-card__place {
    line-height: 1.4;
    margin-top: 16px;
    font-size: 12px;
    color: #444; }

.vo-footer {
  z-index: 3;
  position: fixed;
  bottom: 0;
  background-color: #99796c;
  color: #FFF; }
  .vo-footer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px; }
  .vo-footer__item {
    text-align: center; }
    .vo-footer__item a i {
      margin-bottom: 4px;
      font-size: 18px; }
    .vo-footer__item a p {
      font-size: 10px; }

.vo-form {
  text-align: center; }
  .vo-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 16px; }
    .vo-form__wrapper input {
      position: relative;
      text-align: left;
      width: 80vw;
      height: 48px;
      padding-left: 24px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid #99796c;
      border-radius: 40px;
      color: #99796c; }
      .vo-form__wrapper input:focus {
        border-radius: 40px;
        border-color: #FFF; }
      .vo-form__wrapper input::placeholder {
        font-size: 14px;
        color: #99796c;
        opacity: .7; }
  .vo-form__item {
    margin-bottom: 24px; }
    .vo-form__item p {
      margin-bottom: 8px;
      text-align: left;
      color: #FFF;
      font-size: 14px;
      font-weight: bold; }
    .vo-form__item .vo-form__mail::before {
      position: absolute;
      content: '\f0e0';
      font-family: 'Font Awesome 5 Free';
      font-weight: bold; }
  .vo-form .vo-form__item:last-of-type {
    margin-bottom: 16px; }
  .vo-form__help {
    margin-top: -8px; }
    .vo-form__help a {
      font-size: 14px;
      color: #FFF;
      text-decoration: underline; }

.vo-app-header {
  position: relative;
  background-color: #fafafa;
  height: 80px;
  line-height: 100px;
  text-align: center; }
  .vo-app-header--previous {
    position: absolute;
    top: -26px;
    left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #99796c; }

.vo-icon--yellow {
  color: #ffb42a; }

.vo-modal {
  margin: 80px 16px;
  height: 500px;
  border-radius: 5px;
  background-color: #FFF; }
  .vo-modal--show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8); }
  .vo-modal__head {
    text-align: center;
    height: 60px;
    background-color: #99796c;
    line-height: 60px;
    border-radius: 5px 5px 0 0;
    color: #FFF; }
  .vo-modal__contents {
    margin: 24px 16px; }
  .vo-modal .vo-form__item p {
    margin-bottom: 8px;
    text-align: left;
    color: #3B4D5A;
    font-size: 14px;
    font-weight: bold; }
  .vo-modal .vo-form__item .vo-form__mail::before {
    position: absolute;
    content: '\f0e0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400; }
  .vo-modal .vo-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px; }
    .vo-modal .vo-form__wrapper input {
      position: relative;
      text-align: left;
      width: 80vw;
      height: 48px;
      padding-left: 16px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
      border: 2px solid #99796c;
      border-radius: 40px;
      color: #3B4D5A; }
      .vo-modal .vo-form__wrapper input:focus {
        border-radius: 40px; }
      .vo-modal .vo-form__wrapper input::placeholder {
        color: #3B4D5A;
        opacity: .8; }

.vo-profile__wrapper {
  margin-bottom: 24px; }

.vo-profile__header {
  position: relative;
  top: 0;
  height: 140px;
  width: 100%;
  background-color: #fafafa; }

.vo-profile__group {
  position: absolute;
  left: 24px;
  top: 20px;
  display: flex; }
  .vo-profile__group img {
    margin-right: 16px;
    margin-bottom: 4px;
    width: auto;
    height: 100px;
    border: 2px solid #FFF;
    border-radius: 50%; }

.vo-profile__name {
  color: #3B4D5A;
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold; }

.vo-profile__id {
  color: #777;
  font-size: 14px; }

.vo-profile__follows {
  display: flex; }

.vo-profile__follow, .vo-profile__follower {
  vertical-align: middle;
  color: #3B4D5A;
  margin-top: 16px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold; }

.vo-profile__follow {
  margin-right: 16px; }
  .vo-profile__follow::after {
    content: "フォロー";
    font-size: 12px;
    font-weight: normal; }

.vo-profile__follower::after {
  content: "フォロワー";
  font-size: 12px;
  font-weight: normal; }

.vo-title {
  letter-spacing: 1px;
  font-weight: bold;
  color: #3B4D5A; }
  .vo-title--h2 {
    font-size: 28px; }
  .vo-title--h3 {
    font-size: 22px; }
  .vo-title--h4 {
    font-size: 18px; }
  .vo-title--h5 {
    font-size: 14px; }

.vu-mt08 {
  margin-top: 8px; }

.vu-mb08 {
  margin-bottom: 8px; }

.vu-mr08 {
  margin-right: 8px; }

.vu-ml08 {
  margin-left: 8px; }

.vu-mt16 {
  margin-top: 16px; }

.vu-mb16 {
  margin-bottom: 16px; }

.vu-mr16 {
  margin-right: 16px; }

.vu-ml16 {
  margin-left: 16px; }

.vu-mt24 {
  margin-top: 24px; }

.vu-mb24 {
  margin-bottom: 24px; }

.vu-mr24 {
  margin-right: 24px; }

.vu-ml24 {
  margin-left: 24px; }

.vu-flex {
  display: flex; }

.vu-flex--justify__space-around {
  justify-content: space-around; }

.vu-flex--justify__space-between {
  justify-content: space-between; }

.vu-flex--wrap__wrap {
  flex-wrap: wrap; }
