<footer class="vo-footer">
  <div class="vo-footer__wrapper">
    <a href="/timeline">
      <div class="footer_menu" id="timeline">
        <img src="./assets/img/icon_ranking.png" /><br />
        <span id="footer_trend">タイムライン</span>
      </div>
    </a>
    <a href="/comedian">
      <div class="footer_menu" id="ranking">
        <img src="./assets/img/batu.png" /><br />
        <span id="footer_ranking">保留</span>
      </div>
    </a>
    <a href="./mypage.html">
      <div class="footer_menu" id="mypage">
        <img src="./assets/img/icon_user.png" /><br />
        <span id="footer_mypage">マイページ</span>
      </div>
    </a>
  </div>
</footer>