<div class="vo-form">
  <div class="vo-form__wrapper">
    <div class="vo-form__item">
      <input class="vo-form__mail" type="text" placeholder="メールアドレス / ID">
    </div>
    <div class="vo-form__item">
      <input class="vo-form__password" type="password" placeholder="パスワード">
    </div>
    <div class="vo-form__help">
      <a href="">パスワードを忘れた方はこちら</a>
    </div>
  </div>
  <div class="vo-button__wrapper">
    <button class="vo-button vo-button--primary vo-button--large">ログイン</button>
  </div>
</div>