<div class="vo-profile__wrapper">
  <div class="vo-profile">
    <div class="vo-profile__header">
      <div class="vo-profile__group">
        <img src="./assets/img/profile-img.png">
        <div>
          <div class="vo-profile__name">
            <!-- むらかみ。 -->
          </div>
          <div class="vo-profile__id">
            @micolumn123
          </div>
          <div class="vo-profile__follows">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>