@charset "utf-8";

// button.scss
// ボタン

.vo-button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  color: $main-c;
  &--primary {
    background-color: $white-c;
  }
  &--large {
    padding: $padding $padding * 10;
  }
}